# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Generated Outputs
outputs/

# Python Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Dataset
data/raw/
data/processed/

# Models (generated)
models/

# Environment variables
.env